[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rst-tables"]
	path = vim/bundle/vim-rst-tables
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "vim/bundle/vim-togglemouse"]
	path = vim/bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
