! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/iceweasel
URxvt.url-select.underline: true
URxvt.matcher.button: 1
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.depth: 32
URxvt.scrollBar: False
URxvt*secondaryScroll: true
URxvt*termName: xterm-256color
URxvt*loginShell: true
URxvt*saveLines: 65535
URxvt*cursorUnderline: false
URxvt*urgentOnBell: true
URxvt*cursorBlink: false

!! scroll
!! do not scroll with output
URxvt*scrollTtyOutput:      false
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true
!! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

! Catch ugly URLs
URxvt*cutchars: '"'()*<>[]{|}

!-- Xft settings -- !
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.autohint: 0
Xft.lcdfilter: lcddefault

!! -- Fonts -- !
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:Regular

! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3


! Light

#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt*background:	#fdf6e3
URxvt*foreground:	#657b83
URxvt*fading:                  40
URxvt*fadeColor:	#fdf6e3
URxvt*cursorColor:	#586e75
URxvt*pointerColorBackground:	#93a1a1
URxvt*pointerColorForeground:	#586e75

URxvt*color0:	#eee8d5
URxvt*color1:	#dc322f
URxvt*color2:	#859900
URxvt*color3:	#b58900
URxvt*color4:	#268bd2
URxvt*color5:	#d33682
URxvt*color6:	#2aa198
URxvt*color7:	#073642
URxvt*color8:	#fdf6e3
URxvt*color9:	#cb4b16
URxvt*color10:	#93a1a1
URxvt*color11:	#839496
URxvt*color12:	#657b83
URxvt*color13:	#6c71c4
URxvt*color14:	#586e75
URxvt*color15:	#002b36

